*.gem
*.rbc
freenet_hash.log
freenet_hash.log.*
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store
coinmux.jar
docs/wallet.txt
bin/transaction.rb
